.cont{
  display: block;

}
.cont3{
    width: 90%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

h1{
  color: #ff9a27;
}

.form-group{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 30px 0px 30px 0px;
  margin: 30px auto;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);

}
.form-group2{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 250px;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.5);
}

.form-label{
  color: #fff;
  font-size: 25px;
}


.btn{
  background-color:  #ff9a27;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 10px 100px;
  font-size: 20px;
  display: flex;
  margin: auto;
  color: #0b59b3;
}
.btn:hover{
  background-color:  #b16004;
  color: #fff;
}


.submt{
  background-color:  #fff;
  border-radius: 50px;
  border: 2px solid #aaaaaa;
  padding: 5px 0px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
  color: #000000;
}
.submt:hover{
  background-color: #0e0e0e59;
  color: #fff;
}

.submt.active-time {
      background-color: #353535;
      color: white;
      border-color: #000000;
  }

.col-4{
  width: 30%;
  margin: 5px auto;

}

  .time-slots .btn {
    border-radius: 20px;
    border-color: #dee2e6;
    color: #333;
    font-weight: 500;
  }

  .btn:focus {
    box-shadow: none !important;
  }

.form-control, .form-select{
  border-radius: 12px;
}






@media  (max-width: 1000px) {
  .btn{
    padding: 10px 50px;
  }

  .cont3{
    width: 95%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.form-group{
  width: 85%;
  border-radius: 20px;
  margin: 30px auto;


}

.form-group2{
  width: 85%;
  height: 200px;
  margin: 20px auto ;
}

.col-4{
  width: 100%;
  margin: 5px auto;
}


}

@media  (max-width: 1180px) and (min-width: 800px) {

.col-4{
  width: 50%;
  margin: 5px auto;
}

}
