<!-- <div class="cont1">
  <section class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <h1> دلع عربيتك عندنا  </h1>
        <p>خدمة غسيل وتلميع سيارات احترافية بأحدث التقنيات</p>
        <div class="buttons">
          <button class="btn" routerLink="/admin/create-order">مشاهدة خدماتنا</button>
        </div>
      </div>
    </div>
  </section>
</div> -->



<div class="tabs-wrapper pt-5" dir="rtl" *ngIf="router.url !== '/admin/requests'">
    <div class="tabs-container">
        <a routerLink="/admin/materials" routerLinkActive="active" class="tab-item"> المواد </a>
        <a routerLink="/admin/services" routerLinkActive="active" class="tab-item"> الخدمات </a>
        <a routerLink="/admin/products" routerLinkActive="active" class="tab-item"> المنتجات </a>
        <a routerLink="/admin/workers" routerLinkActive="active" class="tab-item"> العمال </a>
        <a routerLink="/admin/shifts" routerLinkActive="active" class="tab-item"> الشيفتات </a>
        <a routerLink="/admin/dashboard" routerLinkActive="active" class="tab-item"> تقارير اليومية </a>
        <a routerLink="/admin/employees-report" routerLinkActive="active" class="tab-item"> تقرير الموظفين </a>
    </div>
</div>

<div class="content-container">
    <router-outlet></router-outlet>
</div>
