
.invoices-page{
  background-color: #f7f7f7;
  min-height: 100vh;
}

.table-responsive {
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.text-orange {
  color: #fd7e14; 
}

.btn-orange {
  background-color: #fd7e14;
  border-color: #fd7e14;
}
