
.cont {
  background: linear-gradient(to left, rgba(0,0,0,0.8), rgb(0, 0, 0));
  border-radius: 20px 20px 0px 0px;
  padding: 30px;
  margin: 10px;
  display: flex;
  align-items: center;


  @media (max-width: 480px) {
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
  }
}

.pointer{
  background: linear-gradient(to left, rgba(0,0,0,0.8), rgb(0, 0, 0));
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  margin: -10px 10px 10px 10px;
  display: flex;
  align-items: center;


  @media (max-width: 480px) {
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
  }
}



.services-container {
  padding: 20px;
  text-align: center;
  margin: auto;
  direction: rtl;
  width: 100%;

  h2 {
    margin-bottom: 30px;
    color: #ff9a27;
    font-size: 35px;

    @media (max-width: 480px) {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  }

  .buttons-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;


    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }

  .service-btn {
    padding: 15px 35px !important;
    border: 2px solid  #ff9a27;
    background-color: white;
    color:  #ff9a27;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  &:hover {
      background-color: #ff9a27;
      color: white;
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 217, 255, 0.3);
    }

  &.active {
    background-color: #ff9800 !important;
    color: #ffffff !important;
    border-color: #ff9800;
    box-shadow: 0 4px 10px rgba(255, 152, 0, 0.3);
  }

  @media (min-width: 768px) {
      padding: 20px 15px;
      font-size: 1.2rem;
    }
  }
}



.service-card {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  border-radius: 12px;
  background-color: #f8f9fa;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background-color: #fff;
  }

  &.selected {
    border-color: #ff9a27;
    background-color: #e8f5e9;
  }
}

.bi-check-circle-fill{
  color: #ff9a27;
}

.btn-end{
  background-color: #ff9a27;
  color: #fff;
}


.check-icon {
  animation: scaleIn 0.2s ease;
}



@keyframes scaleIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

h3{
  color: #ff9a27;
}
.container{
  max-width: 1500px;
}

.card-header{
  background-color: #ff9a27;
  color: #fff;
}

.btn{
  background-color: #ff9a27;
  color: #fff;
}

.col-md-4{
  margin: 20px auto;

}
