.contt{
  display: block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f7f7;
}

.cont3{
    width: 90%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

h1{
  color: #000000;
}

.form-group{
  width: 70%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px 0px 30px 0px;
  margin: 30px auto;
  // box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);

}

.form-label{
  color: #000000;
  font-size: 25px;
}


.btn{
  background-color:  #ff9a27;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 10px 100px;
  font-size: 20px;
  display: flex;
  margin: auto;
  color: #ffffff;
}
.btn:hover{
  background-color:  #b16004;
  color: #fff;
}


.submt{
  background-color:  #fff;
  border-radius: 50px;
  border: 2px solid #aaaaaa;
  padding: 5px 0px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
  color: #000000;
}
.submt:hover{
  background-color: #8b8b8b;
  color: #fff;
}

.submt.active-time {
      background-color: #8b8b8b;
      color: white;
      border-color: #000000;
  }

.col-4{
  width: 30%;
  margin: 5px auto;

}


.form-control, .form-select{
  border-radius: 12px;
}

.text{
  color: rgb(255, 0, 0);
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 12px;
  width: 100%;
  margin-top: 10px;


  @media (max-width: 400px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

.service-card {
  background: rgba(255, 255, 255, 0.07);
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1.5px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px !important;
  padding: 15px 10px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &.selected-active {
    background: rgba(255, 255, 255, 0.25);
    border-color: #ffffff !important;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    transform: scale(0.98);
  }

  .service-name {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-bottom: 5px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .service-price {
    font-size: 0.8rem;
    color: #ffc107;
  }

  .check-mark {
    position: absolute;
    top: 0px;
    left: 5px;

    i {
      font-size: 20px;
      color: #ffffff !important;

    }
  }
}


.submt {
  font-size: 0.85rem !important;
  padding: 10px 5px !important;
}





















@media  (max-width: 1000px) {
  .btn{
    padding: 10px 50px;
  }

  .cont3{
    width: 95%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.form-group{
  width: 85%;
  border-radius: 20px;
  margin: 30px auto;


}

.form-group2{
  width: 85%;
  height: 200px;
  margin: 20px auto ;
}

.col-4{
  width: 100%;
  margin: 5px auto;
}


}

@media  (max-width: 1180px) and (min-width: 800px) {

.col-4{
  width: 50%;
  margin: 5px auto;
}

}
