<div class="cont">
<div class="services-container">
  <h2>اختر نوع الخدمة</h2>

  <div class="buttons-grid">
    <button class="service-btn" routerLink="/car-wash">
      <span>غسيل</span>
    </button>

    <button class="service-btn" routerLink="/ironing">
      <span>مكواة</span>
    </button>

    <button class="service-btn" routerLink="/dry-clean">
      <span>دراي كلين</span>
    </button>

    <button class="service-btn" routerLink="/carpets">
      <span>طابقات</span>
    </button>
  </div>
</div>
</div>
