.tabs-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: #f8f9fa;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dddddde5;
  padding: 10px;
  border-radius: 40px;
  gap: 15px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.tab-item {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;

  &.active {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}


@media (max-width: 600px) {
  .tabs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    border-radius: 20px;
    padding: 15px;
    gap: 10px;
  }

  .tab-item {
    padding: 15px 5px;
    font-size: 14px;
    width: auto;
  }


  .tab-item:last-child {
    grid-column: span 2;
  }
}
