<div class="tabs-wrapper pt-5" dir="rtl" *ngIf="router.url !== '/cashier/messages'">
    <div class="tabs-container">
        <a routerLink="/cashier/order-info" routerLinkActive="active" class="tab-item">نقطة دفع</a>
        <a routerLink="/cashier/new-reservation" routerLinkActive="active" class="tab-item">حجز جديد</a>
        <a routerLink="/cashier/invoices" routerLinkActive="active" class="tab-item">الفواتير</a>
        <a routerLink="/cashier/reservations" routerLinkActive="active" class="tab-item">الحجوزات</a>
        <a routerLink="/cashier/customers" routerLinkActive="active" class="tab-item">المستخدمين</a>
    </div>
</div>

<div class="content-container">
    <router-outlet></router-outlet>
</div>
