





.container-fluid{
  background-color: #f8f9fa;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}



.bg-orange {
  background-color: #ff9800 !important;
}

.text-orange {
  color: #ff9800 !important;
}

.btn-orange {
  background-color: #ff9800;
  color: white;
  &:hover {
    background-color: #e68900;
    color: white;
  }
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #fffaf0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worker-card {
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
}

.btn-light-danger {
  background-color: #fff5f5;
  color: #ff4d4d;
  border-radius: 8px;

  &:hover { background-color: #ff4d4d; color: white !important; }
}


.btn-light-warning {
  background-color: #fff9e6;
  color: #ffc107;
  border-radius: 8px;
  border: none;
  &:hover {
    background-color: #ffc107;
    color: white !important;
  }
}
