.cont {
    height: 100vh;
    display: flex;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                      url('https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?q=80&w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}



.login-cont {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border: 2px solid #ff9a27;
    border-radius: 25px;
    padding: 40px;
    width: 500px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
}



input.form-control:focus{
    border: 1px solid  #ff9a27;
    border-radius: 10px;
    box-shadow: none;

}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-btn {
    background: linear-gradient(45deg, #ff9a27, #ff5f00) !important;
    font-size: 20px;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
}

.main-btn:not(:disabled) {
  background-color: #ff8800;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}





@media (max-width: 768px) {

    .login-cont{
        width: 80%;
    }

    img{
        width: 100%;
    }

}
