.cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-cont{
    border-radius: 20px;
    padding: 40px 30px;
    background-color: #fff;
    width: 50%;
}

input.form-control:focus{
    border: 1px solid  #ff9a27;
    border-radius: 10px;
    box-shadow: none;

}
.main-btn{
    color: #fff;
    background-color: #ff9a27;
    font-size: 20px;
    padding: 8px 30px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}



.main-btn:disabled {
  background-color: #cccccc !important;
  border-color: #999999 !important;
  color: #666666 !important;
  cursor: not-allowed;
  opacity: 0.7;
}


.main-btn:not(:disabled) {
  background-color: #007bff;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {

    .login-cont{
        width: 95%;
    }

    img{
        width: 100%;

    }

}
