


.add-client-section {
  background-color: #f8f9fa;
  min-height: 100vh;
  direction: rtl;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  .main-order-card {
  background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;



    .orange-side-border {
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 100%;
      background-color: #ffa807;
    }
  }

  .custom-label {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
  }

  .custom-input {
    background-color: #f0f0f0 !important;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;

    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 236, 201, 0);
      background-color: #dddddd !important;
    }

    &::placeholder {
      color: #aaa;
      font-size: 0.85rem;
    }
  }

  .form-divider {
    border-top: 1px solid #3d3d3d;
    opacity: 1;
  }

  .btn-submit-orange {
    background-color: #ffa807;
    color: #ffffff;
    border: none;
    padding: 12px 80px;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: #e69606;
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(255, 168, 7, 0.3);
    }

    &:disabled {
      background-color: #555;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}


@media (max-width: 768px) {
  .btn-submit-orange {
    width: 100%;
    padding: 12px 20px;
  }
}




