.cont{
  display: block;


}
.container{
  max-width: 1500px;
}

.card{
  background-color: #f8f9fa00;
  border: 0;

}

.text-center{
  color: #fff;
}

.form-label{
  color: #ffffff;
  font-size: 20px;
}

.btn{
  background-color:  #ff9a27;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 10px 100px;
  font-size: 20px;
  display: flex;
  margin: auto;
  color: #ffffff;
}
.btn:hover{
  background-color:  #b16004;
  color: #ffffff;
}
.btn:focus {
    box-shadow: none !important;
  }



.image-upload-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;

}

.upload-box {
  width: 100%;
  height: 300px;
  border: 2px  #dee2e6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  background-color: #f8f9fa;
}

.upload-box:hover {
  border-color: #0dcaf0;
  background-color: #bdbdbd;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.placeholder-content {
  text-align: center;
}

.plus-icon {
  font-size: 3rem;
  color: #1f6bb6;
  display: block;
  line-height: 1;
}


.btn-remove {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
}




@media  (max-width: 1000px) {
  .btn{
    padding: 10px 20px;
    margin-bottom: 20px !important;
  }

}
