
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

body{
  direction: rtl;
  max-width: 1920px;
  margin: 0 auto;
  // background-color: silver;

}

.cont{
  background: linear-gradient(to left, rgba(0,0,0,0.8), rgb(0, 0, 0));
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.contt{
  background-color: #f8f9fa;
}



.btn-light-danger {
  background-color: #fff5f5;
  color: #ff4d4d;
  border-radius: 8px;

  &:hover { background-color: #ff4d4d; color: white !important; }
}


.btn-light-warning {
  background-color: #fff9e6;
  color: #ffc107;
  border-radius: 8px;
  border: none;
  &:hover {
    background-color: #ffc107;
    color: white !important;
  }
}


.text-orange{
  color: #ffa500;
}
